<!DOCTYPE html>
<html>
  <script type="text/javascript">
    window.onload = setupRefresh;

    function setupRefresh() {
        setTimeout("refreshPage();", 300000);
    };

    function refreshPage() {
        window.location = location.href;
    };
  </script>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><%= dailyData %></p>
    <p><%= bottlingLength %></p>
    <p><%= outsideLength %></p>
  </body>
</html>
