body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
#upperBlock {
  display: flex;
}
#dailies {
  width: 200px;
  border: 10px;
}
#bottling {
  flex: 1;
  border: 10px;
}
